div.section-container {
    display: flex;
}

div.section-container.horizontal {
    justify-content: space-between;
}

div.section-container.vertical {
    flex-direction: column;
}

div.section-container.vertical.right {
    align-items: flex-end;
}

section {
    width: calc(50% - 110px);
    padding: 50px 55px 45px;
    margin: 0px;
    border-radius: 0px;

    transition: background-color .22s ease, color .2s ease, width .15s ease, padding .15s ease, margin .15s ease, border-radius .15s ease;
    background-color: #f0f0f0;
    color: black;
}

section.right,
div.section-container.right section {
    float: right;
    text-align: right;
}

section.right p,
div.section-container.right section p {
    margin-left: calc(20% - 4px);
}

html.darkmode section {
    width: calc(50% - 100px);
    padding: 25px 35px;
    margin: 25px 15px 20px;
    border-radius: 30px;

    transition: background-color .3s ease, color .6s ease, width .25s ease, padding .25s ease, margin .25s ease, border-radius .8s ease;
    background-color: #252525;
    color: white;
}

section h1 {
    font-size: 45px;
    position: relative;
    display: inline;
}

section h1:not(.no-dot) {
    padding-right: 13px;
}

section h1:not(.no-dot)::after {
    content: '.';
    color: var(--c-blue-dark);
    position: absolute;
    right: 0px;
    transition: color .2s ease;
}

html.darkmode section h1::after {
    color: var(--c-blue-light);
    transition: color .8s ease;
}

section p {
    margin: 15px 2px 35px;
    font-size: 18px;
    max-width: 80%;
}

section p:last-child {
    margin-bottom: 20px;
}

/* INTRODUCTION */

section.introduction {
    width: calc(700px - 110px);
    height: unset;
}

html.darkmode section.introduction {
    width: calc(700px - 70px);
    padding: 25px 20px;
}

section.introduction > *:not(pre) {
    transition: padding-left .15s;
    padding-left: 0px;
}

html.darkmode section.introduction > *:not(pre) {
    transition: padding-left .25s;
    padding-left: 15px;
}

section.introduction pre {
    padding: 20px 30px 25px;
    background-color: #000;
    border-radius: 25px;
    color: white;
    transition: background-color .22s ease, border-radius .15s ease, width .4s ease;
    overflow-x: scroll;
}

html.darkmode section.introduction pre {
    background-color: #1b1b1b;
    border-radius: 20px;
    transition: background-color .3s ease, border-radius .8s ease, width .4s ease;
}

section.introduction pre::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

section.introduction code, 
section.introduction code span {
    font-family: monospace;
    font-size: 17px;
}

section.introduction code span.blue { color: #569cd6; }
section.introduction code span.mint { color: #51c9b0; }
section.introduction code span.yellow { color: #dcdcaa; }
section.introduction code span.brown { color: #ce9178; }

.landing-image {
    padding: 50px 80px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: flex;
    transition: padding .15s ease;
}

html.darkmode .landing-image {
    padding-right: 85px;
    transition: padding .25s ease;
}

.landing-image svg {
    max-width: 500px;
    max-height: 350px;
}

.landing-image svg path,
.landing-image svg circle {
    transition: fill .22s ease;
}

html.darkmode .landing-image svg * {
    transition: fill .3s ease;
}

.landing-image svg path:nth-child(2) { fill: #ddd; }
html.darkmode .landing-image svg path:nth-child(2) { fill: #252525; }

.landing-image svg circle:nth-child(1) { fill: #ccc; }
html.darkmode .landing-image svg circle:nth-child(1) { fill: #353535; }

html.darkmode .landing-image svg path:nth-child(81) { fill: #202020; }
html.darkmode .landing-image svg rect:nth-child(96),
html.darkmode .landing-image svg rect:nth-child(97) { 
    fill: #353535; 
}

@media only screen and (max-width: 1400px) {
    .landing-image svg {
        max-width: 400px;
    }

    section:not(.introduction) p {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .landing-image {
        display: none;
    }

    section.introduction p {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    div.section-container {
        flex-direction: column;
    }

    section,
    section.introduction {
        width: calc(100% - 110px);
    }
    
    html.darkmode section {
        width: calc(100% - 100px);
    }
    
    html.darkmode section.introduction {
        width: calc(100% - 70px);
    }

    section.right,
    div.section-container.right section {
        float: left;
        text-align: left;
    }
    
    section.right p,
    div.section-container.right section p {
        margin-left: 2px
    }
}

@media only screen and (max-width: 450px) {
    section h1 {
        font-size: 35px;
    }

    section p {
        font-size: 16px;
    }

    section p:last-child {
        margin-bottom: 10px;
    }

    section.introduction code, 
    section.introduction code span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
    section.introduction pre {
        padding: 10px 20px 15px;
    }

    section.introduction code, 
    section.introduction code span {
        font-size: 12px;
    }

    section h1 {
        font-size: 30px;
    }
}