:root {
    --c-blue-light: #4492eb;
    --c-blue-dark: #0059c1;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Didact Gothic', sans-serif;

    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color .2s ease, color .2s ease;
    color: black;
    overflow: hidden;
}

body {
    width: calc(100% - 33px);
    height: calc(100vh - 20px);
    background-color: inherit;
    overflow: scroll;
    margin: 0px 6px 10px 13px;
    padding: 0px 7px 10px;
    z-index: 100;
}

html.darkmode {
    transition: background-color .3s ease, color .8s ease;
    background-color: #181818;
    color: white;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-corner {
    background-color: inherit;
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

html.darkmode body::-webkit-scrollbar-track {
    background-color: inherit;
}

html.darkmode body::-webkit-scrollbar-thumb {
    background-color: #555;
}

::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-button:horizontal:decrement {
    background-color: inherit;
    background-size: 0px;
    background-repeat: no-repeat;
    width: 10px;
    height: 24px;
}

::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:horizontal:increment {
    background-color: inherit;
    background-size: 0px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

html.darkmode body::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    body::-webkit-scrollbar,
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
}

nav {
    width: calc(100% - 88px);
    height: 100px;
    margin-top: 0px;
    padding: 25px 55px 20px 37px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    color: black;
    transition: background-color .22s ease, color .2s ease, width .15s ease, padding .15s ease, margin .15s ease, border-radius .15s ease;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

html.darkmode nav {
    background-color: #2c2c2c;
    color: white;
    padding: 0px 35px 0px 17px;
    margin: 25px 15px 20px;
    width: calc(100% - 78px);
    border-radius: 30px;
    transition: background-color .3s ease, color .6s ease, width .25s ease, padding .25s ease, margin .25s ease, border-radius .8s ease;
}

nav > div {
    height: 100%;
}

nav > div img,
nav > div svg {
    max-height: 100%;
}

nav .pb-logo svg {
    width: 200px;
}

.pb-logo svg path:not(:last-child) {
    fill: black;
    transition: fill .2s ease;
}

html.darkmode .pb-logo svg path:not(:last-child) {
    fill: white;
    transition: fill .8s ease;
}

.pb-logo svg path:last-child {
    fill: var(--c-blue-dark);
    transition: fill .2s ease;
}

html.darkmode .pb-logo svg path:last-child {
    fill: var(--c-blue-light);
    transition: fill .8s ease;
}

nav .mobile-navigation {
    display: none;
}

nav .links {
    height: 50px;
    padding: 25px 0px;
}

nav .links a {
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease, border-radius .2s ease;
    background-color: inherit;
    border-radius: 50%;
    display: inline-block;
}

html.darkmode nav .links a {
    color: white;
    transition: color .8s ease, background-color .2s ease, border-radius .2s ease;
}

nav .links a:not(:last-child) {
    margin-right: 35px;
}

nav .links a:hover {
    background-color: black;
    border-radius: 25%;
    color: white;
}

html.darkmode nav .links a:hover {
    background-color: white;
    color: black;
    transition: color .2s ease, background-color .2s ease, border-radius .3s ease;
}

nav .links a svg {
    height: 30px;
    width: 30px;
    padding: 10px;
}

@media only screen and (max-width: 750px) {
    nav.open-mobile-navigation {
        padding-bottom: 115px;
    }

    html.darkmode nav.open-mobile-navigation {
        padding-bottom: 95px;
    }

    nav .mobile-navigation {
        display: block;
    }

    nav.open-mobile-navigation .mobile-navigation a {
        background-color: #d9d9d9;
        border-radius: 25%;
        color: black;
    }
    
    html.darkmode nav.open-mobile-navigation .mobile-navigation a {
        background-color: #404040;
        color: white;
        transition: color .2s ease, background-color .2s ease, border-radius .3s ease;
    }

    nav .nav-items {
        position: absolute;
        width: calc(100% - 110px);
        height: 70px;
        padding: 30px 55px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: width .15s ease, padding .15s ease;
        top: 100px;
        left: 0px;
        z-index: 1000;
    }   

    html.darkmode nav .nav-items {
        padding: 5px 35px 0px 35px;
        width: calc(100% - 70px);
        transition: width .25s ease, padding .25s ease;
    }
}

@media only screen and (max-width: 500px) {
    nav .nav-items {
        justify-content: space-between;
    }
    
    nav .nav-items a {
        width: 50px;
        margin-right: 0px !important;
    }

    nav:not(.open-mobile-navigation) .links a:hover {
        background-color: #f0f0f0;
        border-radius: 50%;
        color: black;
    }

    html.darkmode nav:not(.open-mobile-navigation) .links a:hover {
        background-color: #2c2c2c;
        color: white;
    }
}

@media only screen and (max-width: 400px) {
    nav .pb-logo svg {
        width: 150px;
    }
}

body > div.content {
    overflow: auto;
}

footer {
    width: calc(100% - 88px);
    height: 100px;
    margin-top: 0px;
    padding: 25px 55px 20px 37px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    color: black;
    transition: background-color .22s ease, color .2s ease, width .15s ease, padding .15s ease, margin .15s ease, border-radius .15s ease;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

html.darkmode footer {
    background-color: #2c2c2c;
    color: white;
    padding: 0px 35px 0px 17px;
    margin: 25px 15px 20px;
    width: calc(100% - 78px);
    border-radius: 30px;
    transition: background-color .3s ease, color .6s ease, width .25s ease, padding .25s ease, margin .25s ease, border-radius .8s ease;
}